<%= javascript_include_tag "feeds" %>
<div class="home-slider2">
    <div class="logo-bottom-rev"><img src="assets/logo-bottom-rev.png" /></div>  
</div>
<br>
<br>
<center id="ffff">
  <%= raw @str %>
</center>
<div style="visibility: hidden;" id = "feedcenter">2</div>