<div class="home-login">
  <div class="logo-bottom-rev">
    <%= image_tag "logo-bottom-rev.png" %>
  </div>
  <a id="main-content"></a>
  <div class="title-wrapp">
    <h1 class="page-header"><%= t "your_account" %></h1>
  </div>
  <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">
      <div class="block-wrapp"></div>
    </section>
    <%= @user.email %>
  </div>
</div>
